<div class="chat-header">
	<div class="chat-summary">
		<div class="header-title">
			hogefuga
		</div>
	</div>
	<div class="right-header">
		<div class="room_close">
			<a href="#">チャットを終了する</a>
		</div>
	</div>
</div>
<div class="messages">
	<div class="message">
		<div class="upper-message">
			<div class="message-user">Tom</div>
			<div class="message-date">2020/7/16(Thu)</div>
		</div>
		<div class="lower-message">
			<div class="message-content">おはよう</div>
		</div>
	</div>
</div>
<%= form_with model: [@room, @message], html: {class: "form"}, local: true do |f| %>
		<div class="input-form">
			<%= f.text_field :content, placeholder: "type a message", class: "text-form" %>
			<label class="image-form">
				<span class="image-file">画像</span>
				<%= f.file_field :image, class: "hidden" %>
			</label>
		</div>
		<%= f.submit '送信', class: 'submit-form' %>
	</div>
<% end %>
